Repository balena-io-modules/ui-shared-components: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

color-content
  public/taxonomy.png
  src/docs/10_introduction/10_welcome.mdx
  src/docs/10_introduction/50_changelog.mdx
  src/docs/20_design_system/1_foundations/00_introduction.mdx
  src/docs/20_design_system/1_foundations/10_colors.mdx
  src/docs/20_design_system/1_foundations/20_typography.mdx
  src/docs/20_design_system/1_foundations/30_spacing.mdx
  src/docs/20_design_system/1_foundations/40_grids.mdx
  src/docs/20_design_system/1_foundations/50_iconography.mdx
Due: none

overview-content
  src/docs/10_introduction/20_overview.mdx
  src/docs/10_introduction/40_get-in-touch.mdx
Due: none

content-images-added
  public/images/anatomy.png
  public/images/examples-alerts.png
  public/images/examples-button.png
  src/docs/20_design_system/1_foundations/10_colors.mdx
Due: none

Use tokens, add doc components and styles, surface variables in color tables
  .storybook/docs.css
  .storybook/preview.tsx
  src/docs/20_design_system/1_foundations/10_colors.mdx
  src/docs/components.tsx
Due: balena-lint --fix -f tslint.json

Tweak storybook theme
  .storybook/docs.css
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
  public/favicon.ico
  public/images/logo.svg
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/docs/10_introduction/40_get-in-touch.mdx
  src/docs/components.tsx
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add Design Tokens page
  .storybook/docs.css
  package-lock.json
  package.json
  src/docs/10_introduction/30_get-in-touch.mdx
  src/docs/10_introduction/40_contribute.mdx
  src/docs/20_design_system/1_foundations/10_tokens.mdx
  src/docs/20_design_system/1_foundations/20_colors.mdx
  src/docs/components.tsx
  src/docs/utils.tsx
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Tidy up, last nits
  .storybook/docs.css
  .storybook/preview.tsx
  package.json
  src/components/Form/Form.stories.tsx
  src/components/SnackbarProvider/Alert.stories.tsx
  src/docs/10_introduction/10_welcome.mdx
  src/docs/10_introduction/20_overview.mdx
Due: balena-lint --fix -f tslint.json

Move Foundations one level up
  .storybook/preview.tsx
  src/docs/20_foundations/00_introduction.mdx
  src/docs/20_foundations/10_tokens.mdx
  src/docs/20_foundations/20_colors.mdx
Due: balena-lint --fix -f tslint.json

Deploy SB docs, better loop on design tokens page
  package.json
  src/docs/20_foundations/10_tokens.mdx
  src/docs/utils.tsx
Due: balena-lint --fix -f tslint.json

Design system foundations (#25)
  .storybook/docs.css
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
  public/favicon.ico
  public/images/anatomy.png
  public/images/examples-alerts.png
  public/images/examples-button.png
  public/images/logo.svg
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/components/Form/Form.stories.tsx
  src/components/SnackbarProvider/Alert.stories.tsx
  src/docs/10_introduction/10_welcome.mdx
  src/docs/10_introduction/30_get-in-touch.mdx
  src/docs/10_introduction/40_contribute.mdx
  src/docs/20_foundations/00_introduction.mdx
  src/docs/20_foundations/10_tokens.mdx
  src/docs/20_foundations/20_colors.mdx
  src/docs/utils.tsx
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Fix click open dialog on some browsers
  src/components/Form/Widgets/FileWidget.tsx
Due: balena-lint --fix -f tslint.json

Move Paper boxshadow style to the form theme
  src/components/Form/index.tsx
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Set tooltip font size to match Rendition
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Proofing amends
  src/docs/10_introduction/10_welcome.mdx
  src/docs/10_introduction/30_get-in-touch.mdx
  src/docs/10_introduction/40_contribute.mdx
  src/docs/20_foundations/00_explained.mdx
  src/docs/20_foundations/20_colors.mdx
Due: none

Add compatibility for multiple selection in the fileWidget
  src/components/Form/Widgets/FileWidget.tsx
Due: balena-lint --fix -f tslint.json

Add DownloadImageModal component
  .storybook/global.css
  .storybook/preview-head.html
  .storybook/preview.tsx
  src/components/ButtonWithTracking/index.tsx
  src/components/DownloadImageDialog/ApplicationInstructions.tsx
  src/components/DownloadImageDialog/DownloadImageDialog.stories.tsx
  src/components/DownloadImageDialog/ImageForm.tsx
  src/components/DownloadImageDialog/OsTypeSelector.tsx
  src/components/DownloadImageDialog/VariantSelector.tsx
  src/components/DownloadImageDialog/index.tsx
  src/components/DownloadImageDialog/models.ts
  src/components/DownloadImageDialog/utils.ts
  src/components/DownloadImageDialog/version.ts
  src/components/DropDownButton/index.tsx
  src/components/Markdown/index.tsx
  src/components/OrderedListItem/OrderedListItem.stories.tsx
  src/components/OrderedListItem/index.tsx
  src/contexts/AnalyticsContext.tsx
  src/index.ts
  src/theme.ts
Due: balena-lint --fix -f tslint.json

CookieBanner: Avoid calling onInit on every re-render
  src/components/CookiesBanner/index.tsx
Due: balena-lint --fix -f tslint.json

Fix DialogTitle fontSize being overriden by h6 fontSize
  src/components/DialogWithCloseButton/index.tsx
Due: balena-lint --fix -f tslint.json

Add custom tooltip component
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/index.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Add missing ref/Grid system on RJSForm and change inputs border colors
  src/components/Form/FieldTemplates/ObjectFieldTemplate.tsx
  src/components/Form/Widgets/SelectWidget.tsx
  src/components/Form/index.tsx
  src/index.ts
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Export OrderedListItem
  src/index.ts
Due: balena-lint --fix -f tslint.json

MUI Grid: Set the default value for `spacing` to be 2
  src/theme.ts
Due: balena-lint --fix -f tslint.json

RJSForm PasswordWidget: Lazy-load zxcvbn dependency
  src/components/Form/Widgets/PasswordWidget.tsx
Due: balena-lint --fix -f tslint.json

OrderedListItem: Align `flex-start`
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Add getBoundingContainerRect util
  src/components/Form/index.tsx
  src/index.ts
  src/utils/index.ts
Due: balena-lint --fix -f tslint.json

Add tertiary and quaternary Theme colors
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Refactor Dropdown component to add menu support
  src/components/ButtonWithTracking/index.tsx
  src/components/DropDownButton/index.tsx
  src/components/Tooltip/index.tsx
Due: balena-lint --fix -f tslint.json

MUILinkWithTracking: Set `'_blank'` as the default value for `target`
  src/components/MUILinkWithTracking/index.tsx
Due: balena-lint --fix -f tslint.json

Fix MUILinkWithTracking targets
  src/components/DownloadImageDialog/ApplicationInstructions.tsx
  src/components/DownloadImageDialog/ImageForm.tsx
  src/components/DownloadImageDialog/OsTypeSelector.tsx
  src/components/DownloadImageDialog/VariantSelector.tsx
Due: balena-lint --fix -f tslint.json

Fix DownloadImage instructions spacing
  src/components/DownloadImageDialog/ApplicationInstructions.tsx
Due: balena-lint --fix -f tslint.json

Fix DropDownButton and allow passing tooltip props
  src/components/ButtonWithTracking/index.tsx
  src/components/DownloadImageDialog/index.tsx
  src/components/DropDownButton/index.tsx
Due: balena-lint --fix -f tslint.json

Export `@balena/design-tokens` as `DesignTokens`
  src/index.ts
Due: balena-lint --fix -f tslint.json

Add `Img` component
  src/components/Img/Img.stories.tsx
  src/components/Img/index.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Fix `Img` component's `onError` usage
  src/components/Img/index.tsx
Due: balena-lint --fix -f tslint.json

Fix DropDown arrow
  src/components/DropDownButton/DropDownButton.stories.tsx
  src/components/DropDownButton/index.tsx
Due: balena-lint --fix -f tslint.json

Path conditions:
  balena-lint --fix -f tslint.json: any of: *.{ts,tsx}
  npm dedupe: any of: package-lock.json
  git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib": any of: package-lock.json
