Repository balena-io-modules/ui-shared-components: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

.lintstagedrc:

{
	"*.{ts,tsx}": ["balena-lint --fix -f tslint.json"],
	"package-lock.json": [
		"npm dedupe",
		"git diff --exit-code -- package-lock.json || echo \"Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib\""
	]
}

Add DownloadImageModal component
  src/components/DownloadImageModal/ApplicationInstructions.tsx
  src/components/DownloadImageModal/DownloadImageModal.stories.tsx
  src/components/DownloadImageModal/ImageForm.tsx
  src/components/DownloadImageModal/OsTypeSelector.tsx
  src/components/DownloadImageModal/VariantSelector.tsx
  src/components/DownloadImageModal/index.tsx
  src/components/DownloadImageModal/models.ts
  src/components/DownloadImageModal/utils.ts
  src/components/DownloadImageModal/version.ts
Due: balena-lint --fix -f tslint.json

Revert wrong push directly on master
  src/components/DownloadImageModal/ApplicationInstructions.tsx
  src/components/DownloadImageModal/DownloadImageModal.stories.tsx
  src/components/DownloadImageModal/ImageForm.tsx
  src/components/DownloadImageModal/OsTypeSelector.tsx
  src/components/DownloadImageModal/VariantSelector.tsx
  src/components/DownloadImageModal/index.tsx
  src/components/DownloadImageModal/models.ts
  src/components/DownloadImageModal/utils.ts
  src/components/DownloadImageModal/version.ts
Due: balena-lint --fix -f tslint.json

Revert wrong push directly on master (#16)
  src/components/DownloadImageModal/ApplicationInstructions.tsx
  src/components/DownloadImageModal/DownloadImageModal.stories.tsx
  src/components/DownloadImageModal/ImageForm.tsx
  src/components/DownloadImageModal/OsTypeSelector.tsx
  src/components/DownloadImageModal/VariantSelector.tsx
  src/components/DownloadImageModal/index.tsx
  src/components/DownloadImageModal/models.ts
  src/components/DownloadImageModal/utils.ts
  src/components/DownloadImageModal/version.ts
Due: balena-lint --fix -f tslint.json

Add CookiesBanner component
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/utils/storage.ts
Due: balena-lint --fix -f tslint.json

Add CookiesBanner component (#6)
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/utils/storage.ts
Due: balena-lint --fix -f tslint.json

Fix CookiesBanner export and add requied
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Fix CookiesBanner export and add requied (#18)
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Fix CookiesBanner exports, fix AnalyticsContext and add requied prop
  .storybook/preview.tsx
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/contexts/AnalyticsContext.tsx
  src/index.ts
  src/utils/analytics.ts
Due: balena-lint --fix -f tslint.json

Fix CookiesBanner exports, fix AnalyticsContext and add requied prop (#19)
  .storybook/preview.tsx
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/contexts/AnalyticsContext.tsx
  src/index.ts
  src/utils/analytics.ts
Due: balena-lint --fix -f tslint.json

Add CookiesContext and fix AnalyticsContext
  .storybook/preview.tsx
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/contexts/AnalyticsContext.tsx
  src/contexts/CookiesContext.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Add CookiesContext and fix AnalyticsContext (#21)
  .storybook/preview.tsx
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/contexts/AnalyticsContext.tsx
  src/contexts/CookiesContext.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Remove Cookies context
  .storybook/preview.tsx
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/contexts/AnalyticsContext.tsx
  src/contexts/CookiesContext.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Remove Cookies context (#22)
  .storybook/preview.tsx
  src/components/CookiesBanner/CoockiesBanner.stories.tsx
  src/components/CookiesBanner/index.tsx
  src/contexts/AnalyticsContext.tsx
  src/contexts/CookiesContext.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Add DialogWithCloseButton component and Dialog styling
  src/components/DialogWithCloseButton/DialogWithCloseButton.stories.tsx
  src/components/DialogWithCloseButton/index.tsx
  src/index.ts
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Add VirtualizedAutocomplete component
  package-lock.json
  package.json
  src/components/VirtualizedAutocomplete/VirtualizedAutocomplete.stories.tsx
  src/components/VirtualizedAutocomplete/index.tsx
  src/index.ts
  tsconfig.esm5.json
  tsconfig.json
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Fix Dropdown button paddings
  src/components/DropDownButton/DropDownButton.stories.tsx
  src/components/DropDownButton/index.tsx
Due: balena-lint --fix -f tslint.json

Add style overrides for MUI Alert
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Add `notistack` dependency
  package-lock.json
  package.json
  src/index.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add SnackbarProvider component
  src/components/SnackbarProvider/index.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Add Alert stories
  src/components/SnackbarProvider/Alert.stories.tsx
Due: balena-lint --fix -f tslint.json

Add form component
  package-lock.json
  package.json
  src/components/Form/FieldTemplates/ObjectFieldTemplate.tsx
  src/components/Form/Form.stories.tsx
  src/components/Form/Widgets/PasswordWidget.tsx
  src/components/Form/Widgets/SelectWidget.tsx
  src/components/Form/index.tsx
  src/index.ts
  src/theme.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

RJSF: Fix SelectWidget not working
  src/components/Form/Widgets/SelectWidget.tsx
Due: balena-lint --fix -f tslint.json

Fix Autocomplete widget selection
  src/components/Form/Widgets/SelectWidget.tsx
Due: balena-lint --fix -f tslint.json

Export missing types and fix tooltip arrow
  src/components/Form/index.tsx
  src/index.ts
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Hide arrow from HTML input with datalist
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Replace absolute values for colors with design tokens
  package-lock.json
  package.json
  src/components/Code/index.tsx
  src/components/Markdown/Markdown.stories.tsx
  src/components/Markdown/index.tsx
  src/theme.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Fix primary color too light
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Add global css and fonts to match dashboard styles
  .storybook/global.css
  .storybook/preview-head.html
  .storybook/preview.tsx
Due: balena-lint --fix -f tslint.json

style fix
  src/components/Form/Widgets/FileWidget.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Add FileWidget to RJSForm
  package-lock.json
  package.json
  src/components/Form/Form.stories.tsx
  src/components/Form/Widgets/FileWidget.tsx
  src/components/Form/index.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add form component
  src/components/Form/index.tsx
Due: balena-lint --fix -f tslint.json

Fix FieldTemplate layout and update react typing
  package-lock.json
  package.json
  src/components/Form/CustomTemplates/FieldTemplate.tsx
  src/components/Form/CustomTemplates/ObjectFieldTemplate.tsx
  src/components/Form/index.tsx
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Expose FileWidget subtypings
  src/components/Form/Widgets/FileWidget.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Removes bullets from FileWidget error
  src/components/Form/Widgets/FileWidget.tsx
Due: balena-lint --fix -f tslint.json

Welcome content
  src/docs/10_introduction/10_welcome.mdx
  src/docs/10_introduction/20_overview.mdx
Due: none

Add documentation folders and some getting started doc.
  src/docs/10_introduction/10_welcome.mdx
  src/docs/10_introduction/20_overview.mdx
  src/docs/10_introduction/30_getting-started.mdx
  src/docs/10_introduction/40_get-in-touch.mdx
  src/docs/10_introduction/50_changelog.mdx
  src/docs/20_design_system/1_foundations/10_colors.mdx
  src/docs/20_design_system/1_foundations/20_typography.mdx
  src/docs/20_design_system/1_foundations/30_spacing.mdx
  src/docs/20_design_system/1_foundations/40_grids.mdx
  src/docs/20_design_system/1_foundations/50_iconography.mdx
Due: none

Update 10_welcome.mdx
  src/docs/10_introduction/10_welcome.mdx
Due: none
