Repository balena-io-modules/ui-shared-components: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Publish only as esm, bump ts compiler target to 2015, prevent publishing storybook files
  package.json
  tsconfig.esm5.json
  tsconfig.json
Due: none

Add IconButtonWithTracking component
  src/components/IconButtonWithTracking/IconButtonWithTacking.stories.tsx
  src/components/IconButtonWithTracking/index.tsx
Due: balena-lint --fix -f tslint.json

Add and export @mui/lab dependency
  package-lock.json
  package.json
  src/index.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add `Tabs` component
  src/components/Tabs/Tabs.stories.tsx
  src/components/Tabs/index.tsx
  src/index.ts
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Upgrade storybook
  .storybook/main.ts
  package-lock.json
  package.json
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Fix typo in Foundations doc file
  src/docs/20_foundations/00_explained.mdx
Due: none

Adapt Mui Button styles
  package-lock.json
  package.json
  src/components/DownloadImageDialog/ImageForm.tsx
  src/components/Form/Form.stories.tsx
  src/components/Form/index.tsx
  src/docs/30_mui_components/Alert.stories.tsx
  src/docs/30_mui_components/buttons.mdx
  src/docs/utils.tsx
  src/theme.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add SurroundingOverlay component
  src/components/SurroundingOverlay/SurroundingOverlay.stories.tsx
  src/components/SurroundingOverlay/index.tsx
  src/index.ts
  src/utils/index.ts
Due: balena-lint --fix -f tslint.json

Replace IconsMaterial with FontAwesomeIcon
  .npmrc
  package-lock.json
  package.json
  scripts/configure-fontawsome.ts
  scripts/update.ts
  scripts/utils.ts
  src/index.ts
  tsconfig.ts-node.json
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add missing IconButtonWithTracking export
  src/index.ts
Due: balena-lint --fix -f tslint.json

Fix DropDownMenu component
  src/components/DropDownButton/index.tsx
Due: balena-lint --fix -f tslint.json

Remove icons-material export to improve bundle size
  src/index.ts
Due: balena-lint --fix -f tslint.json

Add dynamic import on zxcvbn
  package-lock.json
  package.json
  src/components/Form/PasswordStrength.tsx
  src/components/Form/Widgets/PasswordWidget.tsx
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Drop support for non-es2017 compliant browsers
  tsconfig.json
Due: none

Remove dedupe step from `.lintstagedrc`
  .lintstagedrc
Due: none

Remove `react-scripts` dependency
  package-lock.json
  package.json
Due: npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Replace @storybook/preset-create-react-app with @storybook/preset-typescript
  .storybook/main.ts
  package-lock.json
  package.json
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Fix disabled styles for contained buttons
  src/docs/30_mui_components/buttons.mdx
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Add collection summary component
  src/components/CollectionSummary/CollectionSummary.stories.tsx
  src/components/CollectionSummary/index.tsx
  src/index.ts
Due: balena-lint --fix -f tslint.json

Upgrade storybook to v8
  .storybook/docs.css
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

test add @fortawesome/react-fontawesome
  package-lock.json
  package.json
Due: npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

fix
  src/components/DialogWithCloseButton/index.tsx
Due: balena-lint --fix -f tslint.json

Improve icon styles
  package-lock.json
  package.json
  src/components/DialogWithCloseButton/index.tsx
  src/docs/30_mui_components/buttons.mdx
  src/theme.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Img: Fix image not updating when `src` prop updates
  src/components/Img/index.tsx
Due: balena-lint --fix -f tslint.json

Adapt typography styling
  .storybook/global.css
  .storybook/manager.ts
  package-lock.json
  package.json
  src/docs/20_foundations/30_typography.mdx
  src/docs/utils.tsx
  src/theme.ts
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add Spinner component
  src/components/Spinner/index.tsx
  src/index.ts
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Show hex value on colors page
  src/docs/20_foundations/20_colors.mdx
  src/docs/utils.tsx
Due: balena-lint --fix -f tslint.json

Adapt tooltip typing
  src/components/ButtonWithTracking/index.tsx
  src/components/DropDownButton/index.tsx
  src/components/IconButtonWithTracking/index.tsx
Due: balena-lint --fix -f tslint.json

Fix text button styling
  src/theme.ts
Due: balena-lint --fix -f tslint.json

Adapt checkbox styling
  src/docs/30_mui_components/checkboxes.mdx
  src/index.tsx
  src/theme.tsx
Due: balena-lint --fix -f tslint.json

Add styles for radio and switch controls
  .storybook/docs.css
  package-lock.json
  package.json
  src/docs/30_mui_components/checkbox.mdx
  src/docs/30_mui_components/checkboxes.mdx
  src/docs/30_mui_components/radio.mdx
  src/docs/30_mui_components/switch.mdx
  src/theme.tsx
Due: balena-lint --fix -f tslint.json, npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Test flowzone for automated comment with CF pages URL
  .github/workflows/flowzone.yml
Due: none

Update design-tokens to 0.4.2
  package-lock.json
  package.json
Due: npm dedupe, git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib"

Add Spinner component
  src/components/Spinner/Spinner.stories.tsx
  src/components/Spinner/index.tsx
  src/index.tsx
  src/theme.tsx
Due: balena-lint --fix -f tslint.json

Export UIMarker and MapProps types
  src/index.tsx
Due: balena-lint --fix -f tslint.json

Add CircularProgressWithLabel component
  src/components/CircularProgressWithLabel/CircularProgressWithLabel.stories.tsx
  src/components/CircularProgressWithLabel/index.tsx
  src/index.tsx
Due: balena-lint --fix -f tslint.json

Fix Spinner light backdrop having a background color
  src/components/Spinner/index.tsx
Due: balena-lint --fix -f tslint.json

Add LinearProgress styling
  src/theme.tsx
Due: balena-lint --fix -f tslint.json

DownloadImage: Add an e2e ID on the "show outdated versions" checkbox
  src/components/DownloadImageDialog/ImageForm.tsx
Due: balena-lint --fix -f tslint.json

Path conditions:
  balena-lint --fix -f tslint.json: any of: *.{ts,tsx}
  npm dedupe: any of: package-lock.json
  git diff --exit-code -- package-lock.json || echo "Deduplicated package-lock.json, please run a fresh npm install and test the ui-shared-components lib": any of: package-lock.json
